# Logs
logs/
*.log
*.log.*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build
dist/

# Miscellaneous
*.iml
*.lock
.DS_Store
.idea/
.vscode/
*.swp

# Coverage
coverage/